<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Thaisa DFE</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/Resume/CV">Resume/CV</a></li>
            </ul>
        </nav>
    </header>

    <section id="about-me">
        <div class="about-content">
            <div class="about-image">
                <img src="../static/nyme.jpeg" alt="Me">
            </div>
            <div class="about-text">
                <h2>About Me</h2>
                <br>
                <br>
                <p>
                    My name is Thaisa but you can call me Tha as everyone does! I am origannily from Brazil so, Seja
                    Bem-Vindo!!! <br>
                    My background is in sales and customer support. <br> I had the chance to gain and improve my skills
                    in sales, objection handling, negotiation and qualification in different companies. Always focused
                    on solving clients pain points and needs. <br>
                    I am passionate about travelling and meeting new cultures, people and food. <br>
                    I love the idea of creating different things and I am here to help you to create your ideas!
                    <!-- Your text content here -->
                </p>
            </div>
        </div>
    </section>

    <br>
    <h2>My Skills</h2>
    <ul>
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>Sales</li>
        <li>Negotiations Skills</li>
        <!-- Add more skills as needed -->
    </ul>

    <a href="../static/Resume- Thaisa.pdf" class="cta-button">Download my CV here</a>

    </section>

    <section id="contact-me">
        <h2>Contact Me</h2>
        <p>
            Feel free to get in touch with me. You can reach me at <a href="mailto:thaisadfe@gmail.com" class="cta-button">thaisadfe@gmail.com</a>
        </p>
    </section>

    <footer>
        <p>&copy; 2023 Thaisa DFE</p>
    </footer>

    <script src="../static/js/script.js"></script>
</body>

</html>