<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me - Your Name</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/Resume/CV">Resume/CV</a></li>
            </ul>
        </nav>
    </header>

    <section id="contact-me">
        <h1>Contact Me</h1>
        <form id="contact-form">
            <label for="full-name">Full Name:</label>
            <input type="text" id="full-name" name="full-name" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone">
            
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>
            
            <button type="submit">Submit</button>
        </form>
        
        <br>
        
        <p>Feel free to get in touch with me. You can reach me at <a href="mailto:thaisadfe@gmail.com" class="cta-button">thaisadfe@gmail.com</a></p>

    </section>

    <footer>
        <p>&copy; 2023 Thaisa DFE</p>
    </footer>

    <script src="../static/js/script.js"></script>
</body>
</html>

