<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thaisa DFE - Portfolio</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>


</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/Resume/CV">Resume/CV</a></li>
            </ul>
        </nav>
    </header>

    <section id="hero">
        <h1>Welcome to My Portfolio</h1>
        <p>I am Thaisa DFE, a Web Developer</p>
        <a href="projects.html" class="cta-button">View My Projects</a>
    </section>

    <section id="about-me">
        <div class="about-content">
            <div class="about-image">
                <img src="../static/me.jpeg" alt="Me">
            </div>
            <div class="about-text">
                <h2>About Me</h2>
                <p>
                    My name is Thaisa but you can call me Tha as everyone does! I am origannily from Brazil so, Seja
                    Bem-Vindo!!! <br>
                    My background is in sales and customer support. <br> I had the chance to gain and improve my skills
                    in sales, objection handling, negotiation and qualification in different companies. Always focused
                    on solving clients pain points and needs. <br>
                    I am passionate about travelling and meeting new cultures, people and food. <br>
                    I love the idea of creating different things and I am here to help you to create yours ideas!
                    <!-- Your text content here -->
                </p>
            </div>
        </div>
    </section>

    <section id="featured-projects">
        <h2>Featured Projects</h2>
        <!-- Display a few of your top projects here with links to their respective project pages -->
        <!-- Example: -->
        <div class="project">
            <img src="../static/CV with button.jpeg" alt="Project 1">
            <h3><a href="CV with buttons.html" target="_blank">Project 1 CV with buttons</a></h3>
            <p>CV with button was a simple HTML I created for my first project at UCD using HTML and a bit of CSS in
                line. I used buttons to make it a bit fun.</p>
        </div>

        <div class="project">
            <img src="../static/Greeting card creator/greetingcardccreator.jpeg"
                alt="Project 2- Java- Greeting card creator">
            <h3><a href="../static/Greeting card creator/index.html" target="_blank">Project 2 Greeting Card Creator</a>
            </h3>
            <p>CV with button was a simple HTML I created for my first project at UCD using HTML and a bit of CSS in
                line. I used buttons to make it a bit fun.</p>
        </div>

        <!-- Repeat the above structure for other featured projects -->
    </section>

    <section id="contact-me">
        <h2>Contact Me</h2>
        <p>
            Feel free to get in touch with me. You can reach me at <a href="mailto:thaisadfe@gmail.com"
                class="cta-button">thaisadfe@gmail.com</a>

        </p>
    </section>

    <footer>
        <p>&copy; 2023 Thaisa DFE</p>
    </footer>

    <script src="../static/js/script.js"></script>
</body>

</html>