<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume/CV - Thaisa DFE</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/Resume/CV">Resume/CV</a></li>
            </ul>
        </nav>
    </header>

    <section id="resume"> <br> 
        <h1>Resume/CV</h1> <br> 
        <p>
            Feel free to download my most updted CV
        </p>
        <br> 
        
        <!-- Add a button/link to download your PDF resume -->
        <a href="../static/Resume- Thaisa.pdf" class="cta-button" target="resume-Thaisa.pdf">Download PDF</a>

        <br>
        <br>

    </section>

    <footer>
        <p>&copy; 2023 Thaisa DFE</p>
    </footer>

    <script src="../static/js/script.js"></script>
</body>
</html>
